\C:\Users\Y\AppData\Local\Google\Chrome\User Data/

\C:\Users\Y\AppData\Local\Google\Chrome\User Data\

C:\Users\Y\AppData\Local\Google\Chrome\User Data

/home/luis/Documents/GitHub/SeleniumProject/C:\Users\Y\AppData\Local\Google\Chrome\User Data

User Data/